<section id="catering-section">
    <div id="catering-inner-wrapper">
        <div id="location-left" class="half-div">
            <picture class="hero-half">
                <source media="(max-width: 600px)" srcset="assets/images/food/hero-food-8.webp">
                <img loading="lazy" decoding="async" src="assets/images/food/hero-food-8.webp" alt="Background Image">
            </picture>
        </div>
        <div id="location-right" class="half-div">
            <h2 class="red">Wawah's Catering</h2>
            <p>Planning an event? Whether it's a corporate gathering, a wedding, or a special celebration, WaWah’s offers exceptional catering services tailored to your needs. Enjoy our unique blend of Chinese and Latin flavors, delivered fresh and ready to impress your guests.</p>
            <button class="yellow-btn btn" onclick="location.href='/contact';">BOOK US</button>
        </div>
    </div>
</section>