<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script> 
<section id="cta-1094">
    <div class="cs-container">
        <div class="cs-content">
            <div id="email-description-div">
                <h2 class="cs-title">Email Signup</h2>
                <p class="email-list-p">Don't miss out on the latest news, events, and exclusive offers from Wawah.</p>
            </div>
            <form class="cs-form" name="Contact Form" method="post" action="api/email">
                <input type="text" class="cs-input" name="name" placeholder="Name">
                <input class="cs-input" type="email" id="cs-email-1094" name="email" placeholder="Email Address">
                <!-- Cloudflare turnstiles -->
                <div class="cf-turnstile" data-sitekey="0x4AAAAAAAc8jcdO_Mj9Bbxd" data-callback="javascriptCallback" data-theme="light"></div>
                <!-- end Cloudflare -->
                <button class="yellow-btn cs-button-solid cs-submit" type="submit">Subscribe Now</button>
            </form>
        </div>
    </div>
</section>
             