<!-- Footer Section-->
<footer>
    <footer id="footer-1147">
        <div class="cs-container">
            <div class="cs-top">
                <a aria-label="go back to home" class="" href="/" aria-label="go home">
                    <img class="cs-logo-img" loading="lazy" decoding="async" src="/assets/images/logo.png" alt="logo" width="168">
                </a>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <a href="/about" class="cs-link">ABOUT</a>
                    </li>
                    <li class="cs-li">
                        <a href="/menu" class="cs-link">MENU</a>
                    </li>
                    <li class="cs-li">
                        <a href="/contact" class="cs-link">CONTACT</a>
                    </li>
                    <li class="cs-li">
                        <a href="/events" class="cs-link">EVENTS</a>
                    </li>
                    <li class="cs-li">
                        <a href="/blog" class="cs-link">BLOG</a>
                    </li>
                </ul>
            </div>
            <div class="cs-bottom">
                <!--Social-->
                <ul class="cs-social">
                    <li class="cs-social-li">
                        <a href="https://www.tiktok.com/@eatwawahs" class="cs-social-link" aria-label="tiktok" target="_blank" rel="noopener">
                            <img class="cs-social-icon cs-default" src="/assets/images/tiktok.svg" alt="Tiktok" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                        </a>
                    </li>
                    <li class="cs-social-li">
                        <a href="" class="cs-social-link" aria-label="instagram" target="_blank" rel="noopener">
                            <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-transparent.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                        </a>
                    </li>
                    <!-- <li class="cs-social-li">
                        <a href="" class="cs-social-link" aria-label="twitter" target="_blank" rel="noopener">
                            <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-transparent2.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                        </a>
                    </li> -->
                </ul>
                <span class="cs-copyright">
                    © Copyright 2024 - Wawah's, LLC.
                </span>
            </div>
        </div>
        <!--Background-->
</footer>
<!-- End Footer Section -->