<!-- Header Section -->
<header>
    <!-- Mobile Menu Toggle -->
    <input class="mobile-menu" type="checkbox" id="mobile-menu">
    <label id="hamburger" for="mobile-menu"><span id="hamburger-icon"></span></label>
    
    <!-- menu -->
    <nav id="nav-bar-div">
        <div id="nav-left">
            <div id="logo-div">
                <a href="/" id="logo-link" aria-label="back to home">
                    <img src="/src/assets/images/logo.png" alt="WaWah's Logo">
                </a>
            </div>
        </div>
        <div id="nav-center">
            <li class="nav-li">
                <ul class="nav-ul">
                    <a class="header-nav-item" href="/about">ABOUT</a>
                </ul>
                <ul class="nav-ul">
                    <a class="header-nav-item" href="/menu">MENU</a>
                </ul>
                <ul class="nav-ul">
                    <a class="header-nav-item" href="/events">EVENTS</a>
                </ul>
            </li>
        </div>
        <div id="nav-right">
            <a id="header-cta-btn" class="header-nav-item" href="/contact">BOOK US</a>
            <a id="mobile-header-cta-btn" class="header-nav-item" href="/contact">BOOK US</a>
        </div>
    </nav>
</header>
                                
<!-- End Header Section -->