<section id="social-section">
    <div id="social-section-title-div">
        <h2 class="social-title red">Follow Us On Instagram: <span><a href="https://www.instagram.com/eatwawahs/" target="_blank">@eatwawahs</a></span></h2>
    </div>
    <div id="social-tile-wrapper">

        <picture>
            <a href="https://www.instagram.com/p/C2wEGgRgxSU/" target="_blank">
                <source media="(max-width:305px)" srcset="assets/images/food.png">
                <img loading="lazy" decoding="async" src="assets/images/instagram/1.png" alt="Background Image" class="instagram-tile">
            </a>    
        </picture>
        <picture>
            <a href="https://www.instagram.com/p/C2wEAvxg3od/" target="_blank">
                <source media="(max-width:305px)" srcset="assets/images/food.png">
                <img loading="lazy" decoding="async" src="assets/images/instagram/2.png" alt="Background Image" class="instagram-tile">
            </a>    
        </picture>
        <picture>
            <a href="https://www.instagram.com/p/C2wD4GCAQwJ/" target="_blank">
                <source media="(max-width:305px)" srcset="assets/images/food.png">
                <img loading="lazy" decoding="async" src="assets/images/instagram/3.png" alt="Background Image" class="instagram-tile">
            </a>
        </picture>
        <picture>    
            <a href="https://www.instagram.com/p/C2vsc6BATm7/" target="_blank">
                <source media="(max-width:305px)" srcset="assets/images/food.png">
                <img loading="lazy" decoding="async" src="assets/images/instagram/4.png" alt="Background Image" class="instagram-tile">
            </a>
        </picture>
        <picture>    
            <a href="https://www.instagram.com/p/C2vsYHKA7Kf/" target="_blank">
                <source media="(max-width:305px)" srcset="assets/images/food.png">
                <img loading="lazy" decoding="async" src="assets/images/instagram/5.png" alt="Background Image" class="instagram-tile">
            </a> 
        </picture>   
        <picture>
            <a href="https://www.instagram.com/p/C2vqANvMA7Q/" target="_blank">
                <source media="(max-width:305px)" srcset="assets/images/food.png">
                <img loading="lazy" decoding="async" src="assets/images/instagram/6.png" alt="Background Image" class="instagram-tile">
            </a>
        </picture>
        <picture>
            <a href="https://www.instagram.com/p/C2wEGgRgxSU/" target="_blank">
                <source media="(max-width:305px)" srcset="assets/images/food.png">
                <img loading="lazy" decoding="async" src="assets/images/instagram/7.png" alt="Background Image" class="instagram-tile">
            </a>    
        </picture>
        <picture>
            <a href="https://www.instagram.com/p/C2wEAvxg3od/" target="_blank">
                <source media="(max-width:305px)" srcset="assets/images/food.png">
                <img loading="lazy" decoding="async" src="assets/images/instagram/8.png" alt="Background Image" class="instagram-tile">
            </a>    
        </picture>
        






    </div>


</section>