/*-- -------------------------- -->
<---           Events           -->
<--- -------------------------- -*/

.header-bg-div {
    height: 107px;
    background-color: var(--primary);
}

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

    #events-1764 {
      /* centers buttons */
      text-align: center;
      padding: var(--sectionPadding);
      position: relative;
      z-index: 1;
    }
    #events-1764 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: start;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-title {
        font-family: 'Haksen';
        font-weight: 400;
        font-size: clamp(3.2rem, 4.4vw, 3.2rem);
        line-height: 1.2em;
        text-align: left;
        width: 100%;
        max-width: 20ch;
        margin: 0 0 2rem 0;
        color: var(--text-purple);
        /* text-shadow: 2px 2px var(--primary); */
        position: relative;
    }

    #events-1764 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: start;
    }

    #events-1764 .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      /* changes to a grid on desktop */
      display: flex;
      flex-flow: wrap row;
      justify-content: center;
      grid-template-columns: repeat(12, 1fr);
      /* 16px - 20px */
      gap: clamp(1rem, 1.5vw, 1.25rem);
    }
    #events-1764 .cs-item {
      text-align: left;
      list-style: none;
      width: 100%;
      max-width: 25.8125rem;
      background-color: #f7f7f7;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      grid-column: span 12;
      position: relative;
      z-index: 1;
      transition: box-shadow 0.3s, border-color 0.3s;
    }
    #events-1764 .cs-item:hover {
      box-shadow: 0px 4px 120px 0px #0000001f;
      border-color: none;
    }
    #events-1764 .cs-item:hover .cs-picture img {
      opacity: 0.3;
      transform: scale(1.1);
    }
    #events-1764 .cs-item:hover .cs-h3 {
      color: var(--primary);
    }
    #events-1764 .cs-picture {
      width: 100%;
      /* 280px - 320px */
      height: clamp(17.5rem, 22vw, 20rem);
      background-color: #1a1a1a;
      overflow: hidden;
      display: block;
      position: relative;
      z-index: 1;
      /* prevents flexbox from squishing it */
      flex: none;
    }
    #events-1764 .cs-picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 0.6s, opacity 0.3s;
    }
    #events-1764 .cs-info {
      height: 100%;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      /* 24px - 28px vertical */
      /* 16px - 28px sides */
      padding: clamp(1.5rem, 2vw, 1.75rem) clamp(1rem, 2vw, 1.75rem);
      padding-bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      z-index: 2;
    }
    #events-1764 .cs-h3 {
      /* 20px - 31px */
      font-family: "Merriweather";
      font-size: clamp(1.25rem, 3vw, 1.9375rem);
      font-weight: 700;
      line-height: 1.2em;
      text-align: inherit;
      margin: 0 0 1.25rem 0;
      color: var(--headerColor);
      transition: color 0.3s;
    }
    #events-1764 .cs-details {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }
    #events-1764 .cs-opening,
    #events-1764 .cs-time {
    font-family: 'Merriweather';
      font-size: 0.875rem;
      line-height: 1.5em;
      color: var(--bodyTextColor);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.25rem;
    }
    #events-1764 .cs-icon {
      width: 1.5rem;
      height: auto;
    }
    #events-1764 .cs-bold {
      font-weight: 700;
      font-family: 'Merriweather';
      color: var(--text-grey);
    }
    #events-1764 .cs-bar {
      width: 100%;
      height: 0.5rem;
      margin: 1.5rem 0;
      background-color: #fdd2d2;
      position: relative;
    }
    #events-1764 .cs-bar::after {
      content: "";
      /* percent of the bar filled */
      width: 65%;
      height: 100%;
      background-color: var(--primary);
      position: absolute;
      top: 0;
      left: 0;
    }
    #events-1764 .cs-instructor {
      /* 24px - 28px vertical */
      /* 16px - 28px sides */
      padding: clamp(1.5rem, 2vw, 1.75rem) clamp(1rem, 2vw, 1.75rem);
      border-top: 1px solid #dadada;
      display: flex;
      align-items: center;
    }
    #events-1764 .cs-instructor-info {
      display: flex;
      flex-direction: column;
    }
    #events-1764 .cs-portrait {
      width: 3.75rem;
      height: 3.75rem;
      margin-right: 0.75rem;
      /* hides overflow from border-radius */
      overflow: hidden;
      border-radius: 3.75rem;
      position: relative;
    }
    #events-1764 .cs-portrait img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
    #events-1764 .cs-name {
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.2em;
      margin: 0;
      color: var(--headerColor);
    }
    #events-1764 .cs-job {
      font-size: 1rem;
      line-height: 1.5em;
      color: var(--bodyTextColor);
    }
    #events-1764 .cs-price {
      font-size: 1.9375rem;
      font-weight: 900;
      line-height: 1.2em;
      margin-left: auto;
      color: var(--headerColor);
    }
  }
  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #events-1764 .cs-card-group {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
    #events-1764 .cs-item {
      grid-column: span 4;
    }
  }
                                  