---
layout: '/layouts/base.njk'
title:  About
description:
permalink: /about.html
ss: about
---    
<!-- Hero Section -->
<section id="about-hero">
    <div class="cs-container half-div" id="about-hero-left">
        <div class="cs-content">
            <span class="page-title-label">ABOUT US</span>
            <h1 class="cs-title title-font">A Modern & Fresh Take On Chino-Latino</h1>
            <p class="cs-text">An homage to the Latin Chinatowns of the past. To innovate classic dishes with quality, sensibility, and accessibility with value in mind.</p>
            <button class="yellow-btn btn" onclick="location.href='/menu';">VIEW MENU</button>
        </div>
    </div>
    <div class="hero-img half-div" id="about-hero-right">
        <picture class="hero-half">
            <source media="(max-width: 600px)" srcset="assets/images/food/latin-shrimp-bg.png">
            <img loading="lazy" decoding="async" src="assets/images/food/latin-shrimp-bg.png" alt="Background Image">
        </picture>
    </div>
    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="assets/images/hero-bg-dragon.png">
        <img loading="lazy" decoding="async" src="assets/images/hero-bg-dragon.png" alt="Background Image">
    </picture>

</section>

<section id="about-body">
    <div class="cs-content half-div left-div">
        <h2 id="about-body-title">About the Chefs</h2>
        <p>In the depths of the New York Michelin Star kitchens 7 years ago, Nick and Karen met as young line cooks looking to earn their stripes. The dedication to their craft is what began to kindle the fire for this passionate Chef couple.</p>
        <p>Together they bring a combined 20 years of experience from running various pedigreed restaurants from Los Angeles to Manhattan. Chef Nick & Karen set forth to bring WaWah’s to Queens. The name meaning “baby” in both their native tongues,is the first concept from this emerging power couple.</p>
        <button class="yellow-btn btn" onclick="location.href='/menu';">VIEW MENU</button>
    </div>
    <div id="chef-pic-div" class="half-div right-div">
        <div id="about-image-div">
            <div class="about-chef-div">
                <picture class="chef-img">
                    <source media="(min-width: 270px)" srcset="assets/images/Nick_Karen.webp">
                    <img class="chef-img" loading="lazy" decoding="async" src="assets/images/Nick_Karen.webp" alt="Chef Nick and Chef Karen of Wawah's">
                </picture>
            </div>
        </div>
    </div>
</section>

<section id="about-core-values">
    <div class="half-div left-div">
        <h2 id="about-body-title">Celebrating Chinese-Latin Heritage</h2>
        <p>WaWah’s is the marriage of their two cultures in Chinese-Latin. It is an homage to the immigrant Latin Chinatowns of the past, WaWah’s brings old school comfort and Latin soul to Chinese Cuisine.  As vendors of the Queens Night Market, we look to serve the community to which we represent. </p>
        <p>Our focus on quick, delicious cuisine, fresh ingredients, and a Chef-driven approach is what separates us from the rest.</p>
        <button class="yellow-btn btn" onclick="location.href='/menu';">VIEW MENU</button>
    </div>
    <div class="half-div right-div">
        <div id="car-div">
                <picture class="car">
                    <source media="(min-width: 310px)" srcset="assets/images/car.png">
                    <img loading="lazy" decoding="async" src="assets/images/car.png" alt="chef nick">
                </picture>
        </div>
    </div>
</section>

{% socialMedia %}
{% location %}