---
title: Blog
layout: '/layouts/base.njk'
permalink: /blog.html
ss: blog
pagination:
    data: blogs
    size: 10
    alias: blogItems
---
<div class="header-bg-div"></div>
<section id="menu-hero-section">
    <div id="menu-hero-div">
        <span class="page-title-label">Blog</span>
        <h1>Learn from our Content Partners</h1>
        <p class="cs-text">Blog data pulled from dotCMS demo site <a href="https://github.com/jclee8888/dcms-demo/blob/master/src/_data/blogs.js">DotCMS GraphQL (Check it out)</a></p>
    </div>
</section>


<section>
    <ul class="blogcard-row">
        {% for blog in blogItems %}
            {% include 'components/blogcard.njk' %}
        {% endfor %}
    </ul>
</section>
