---
layout: '/layouts/base.njk'
title: Upcoming Events at WaWah's | Queens Night Market & Grand Opening 
description: Discover upcoming events at WaWah's. Join us at the Queens Night Market from July 5-10, 2024.
permalink: /events.html
ss: events
---

<!-- ============================================ -->
<!--                    Events                    -->
<!-- ============================================ -->
<div class="header-bg-div"></div>
<section id="events-1764">
    <div class="cs-container">
        <div class="cs-content">
            <span class="page-title-label">UPCOMING EVENTS</span>
            <h1 class="cs-title">Check Out Our Upcoming Events</h1>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="assets/images/qnm.jpg">
                    <source media="(min-width: 601px)" srcset="assets/images/qnm.jpg">
                    <img loading="lazy" decoding="async" src="assets/images/qnm.jpg" alt="qnm" width="305" height="180">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">Queens Night Market</h3>
                    <div class="cs-details">
                        <span class="cs-opening">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-event-calendar.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            <span class="cs-bold">Date:</span> Oct 12, 2024
                        </span>
                        <span class="cs-time">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-event-clock.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            <span class="cs-bold">Time:</span> 4.00pm - 11.00pm
                        </span>
                    </div>
                    <div class="cs-bar"></div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="assets/images/qnm.jpg">
                    <source media="(min-width: 601px)" srcset="assets/images/qnm.jpg">
                    <img loading="lazy" decoding="async" src="assets/images/qnm.jpg" alt="qnm" width="305" height="180">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">Queens Night Market</h3>
                    <div class="cs-details">
                        <span class="cs-opening">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-event-calendar.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            <span class="cs-bold">Date:</span> Oct 19, 2024
                        </span>
                        <span class="cs-time">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-event-clock.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            <span class="cs-bold">Time:</span> 4.00pm - 11.00pm
                        </span>
                    </div>
                    <div class="cs-bar"></div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="assets/images/qnm.jpg">
                    <source media="(min-width: 601px)" srcset="assets/images/qnm.jpg">
                    <img loading="lazy" decoding="async" src="assets/images/qnm.jpg" alt="qnm" width="305" height="180">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">Queens Night Market</h3>
                    <div class="cs-details">
                        <span class="cs-opening">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-event-calendar.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            <span class="cs-bold">Date:</span> Oct 26, 2024
                        </span>
                        <span class="cs-time">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-event-clock.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            <span class="cs-bold">Time:</span> 4.00pm - 11.00pm
                        </span>
                    </div>
                    <div class="cs-bar"></div>
                </div>
            </li>
        </ul>
            <button class="yellow-btn btn" onclick="location.href='/signup';">SUBSCRIBE FOR EMAIL</button>
    </div>
</section>
{% location %}
