---
layout: '/layouts/signup.njk'
title: Signup for Updates | WaWah's - Explore Fresh Chino-Latino Flavors
description: Signup today and receive real-time notifications on when events happen.
permalink: /signup.html
ss: signup
---
<div id="signup-div-wrapper">
    <img src="/assets/images/logo.png" class="responsive-logo" alt="logo" aria-hidden="true" decoding="async">
    {% email %}
</div>
