---
layout: '/layouts/base.njk'
title: Thank You | Wawah's
description: 
permalink: /thank-you.html
ss: thank-you
sitemapIgnore: true
---    
<div class="header-bg-div"></div>
<div id="thank-you-message-div">
    <img id="thank-you-checkmark" src="./assets/images/check.svg" alt="">
    <h2>Thank you!</h2>
    <p>Our team will contact you shortly.</p>
</div>